<div class="form-group">
    <label>{{label}}</label>
    {{#if value }}
        <p>
            Currently: <a href="{{value}}" target="_blank">{{{getURLFilename value}}}</a>
        </p>
        <input name="{{name}}-existing" type="hidden" value="{{{getURLFilename value}}}"/>
    {{/if}}
    <input name="{{name}}" type="file" class="form-control" {{#if file_types }}accept="{{fileTypes}}"{{/if}} {{#if required}}required{{/if}}
        {{#if fileTypes }}accept="{{fileTypes}}"{{/if}} value=" ">
    {{#if help_text}}
        <p class="help-block">{{ help_text }}</p>
    {{/if}}
</div>