<div class="top-buffer bottom-buffer">
    <h4 class="inline">{{label}}</h4>
    {{#unless isRemovable}}
        {{#if help_text}}
            <p id="description_{{name}}" >{{{help_text}}}</p>
        {{/if}}
    {{/unless}}
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="collapse-link-top pull-right"><span class="glyphicon glyphicon-chevron-down"></a>
            <div class="children-anchor-point collapse in" style="padding-left: 0px">
            </div>
            {{#unless isPreviewMode}}
                <span class="{{#unless isRemovable}}hidden{{/unless}}">
                    <a id="remove_{{name}}" ">Remove {{label}}</a>
                </span>
            {{/unless}}
            <a class="collapse-link-bottom pull-right"><span class="glyphicon glyphicon-chevron-up"></a>
        </div>
    </div>
</div>