<div class="form-group">
    <label>{{label}}</label>
    {{#each options}}
        <div class="radio">
            <label>
                <input name="{{../name}}" type="radio" value="{{this.value}}" {{#if ../required}}required{{/if}} {{#isEqual this.value ../value }}checked{{/isEqual}}>
                {{this.label}}
            </label>
        </div>
    {{/each}}
    {{#if help_text}}
        <p class="help-block">{{{help_text}}}</p>
    {{/if}}
</div>