<div class="form-group">
    <label>{{label}} </label>
    <select name="{{name}}" class="form-control" {{#if required}}required{{/if}}>
        {{#if defaultBlank}}
            <option disabled selected value=" ">Please Choose</option>
        {{/if}}
        {{#each options}}
            <option value="{{this.value}}" class="form-control" {{#isEqual this.value ../value }}selected{{/isEqual}}>{{this.label}}</option>
        {{/each}}
    </select>
    {{#if help_text}}
        <p class="help-block">{{{help_text}}}</p>
    {{/if}}
</div>