<div class="form-group {{#if errors}} has-error has-feedback {{/if}}">
    <label for="{{id}}">{{label}}</label>
    {{#each options}}
        <div class="radio">
            <label for="{{../id}}_{{this.value}}">
                <input id="{{../id}}_{{this.value}}" name="{{../name}}" type="radio" value="{{this.value}}" required=""/>
                {{this.label}}
            </label>
        </div>
    {{/each}}
    {{#if help_text}}
        <p class="help-block">{{help_text}}</p>
    {{/if}}
    {{#if errors}}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class='text-danger'>{{errors}}</span>
    {{/if}}
</div>