<div class="form-group {{#if errors}} has-error has-feedback {{/if}}">
    <label for="{{id}}">{{label}} </label>
    <input id="{{id}}" name="{{name}}" class="form-control" {{#if required}}required{{/if}}/>
    {{#if help_text}}
        <p class="help-block">{{help_text}}</p>
    {{/if}}
 </div>
